body {
  font-size: 16px;
  font-family: 'inher', sans-serif;
  margin: 0;
  /*width: 100%;*/

}

.page {
  max-width: 1100px;
  /*height: 100vh;*/
  padding: 5px;

}

.main-title {
  /*padding-left: 120px;*/
  /*padding-top: 30px;*/
  margin-bottom: 20px;
  display: inline;
}

.create-claim {
  height: 40px;
  border: none;
  border-radius: 15px;
  background: #87cb72;
  color: white;
}

.create-claim:hover {
  background: #5a9d46;

}

th, td {
  padding-left: 15px;
}

/* Menu */

.container-navbar {
  float: left;
}

.content-menu {
  width: 96px;
  height: 969px;
  background: linear-gradient(#D5EEE2, #7DB59A)
}


.btn-menu {
  width: 40px;
  display: block;
  padding: 24px 28px;
  position: relative;
}

.btn-menu:focus {
  padding: 24px 23px;
  border-left: 5px solid #ffffff;
}

.img-icon {
  padding: 32px 11px 0 12px ;
  width: 72px;
}

.sort-icon {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}

.sort-icon-group {
  padding-left: 10px;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.sort-icon-group:hover {
  opacity: 1;
}

/* Header */

.container-header {
  width: 1300px;
}

.content-header {
  width: 1920px;
  height: 96px;
  border-bottom: 1px solid #C2C2C2;
  text-align: end;
}

.input-search {
  width: 500px;
  height: 40px;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  background-color: #eeeeee;
}

.input-search:focus {
  outline: none !important;
}

.btn-header-search {
  background-color: transparent;
  border: none;
  color: #9f9f9f;

}

.btn-header-bell {
  background-color: transparent;
  color: #9f9f9f;
  border: none;
  font-size: 20px;
  padding: 5px 20px;
}

.btn-header-exit {
  transform: rotate(90deg);
  background-color: transparent;
  color: #9f9f9f;
  border: none;
  font-size: 20px;
}

/* Claims list */


/* Table */

.container-table {
  padding: 30px 0 0 110px;
}

.container-title {
  display: flex;
  justify-content: space-between;
  width: 1100px;

}

.table-body {
  width: 1100px;
}

.table-head {
  height: 50px;
  background: #eeeeee;
  color: #545454;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
}


tbody tr {
  border-bottom: 1px solid #dadada;
}

tbody tr:hover {
  background: #b1e8a0;
  opacity: 1;
}

.type-dot {
  padding-right: 16px;
}

/* status pill */

.status-pill {
  font-size: 14px;
  width: 100px;
  text-align: center;
  padding: 0 5px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
}

.status-pill-new {
  background: #6C5CE7;
}

.status-pill-done {
  background: #00B894;
}

.status-pill-declined {
  background: #E84393;
}

.status-pill-in-process {
  background: #FDCB6E;
}

/* Pagination */

.pagination {
  padding-right: 100px;
  justify-content: end;
  position: relative;
}

.container-btn-pagination {
  position: absolute;
}

.btn-pagination {
  background: transparent;
  /*border: 1px solid #6c6c6c;*/
  margin: 3px;

}

.page-number {
  /*border: 1px solid #6c6c6c;*/
  padding: 1px 6px;
  margin: 3px;
}

.input-table {
  padding-bottom: 10px;
}

/* Incoming claim */

.container-incoming-claim {
  padding: 30px 0 0 110px;
}

.claim-editing {
  width: 400px;
  height: 40px;
  background-color: #eeeeee;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
  display: block;
}

.claim-type {
  margin: 10px 0;
}

.claim-editing {
  outline: none !important;
}

.label-claim {
  display: block;
  margin-top: 30px;
}


/* Btn incoming claims */


.btn-ic {
  width: 65px;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin: 30px 20px 0 0;
}

.btn-cancel {
  color: black;
  background: white;
  border: 1px solid #eeeeee;
}

.btn-cancel:hover {
  border: 1px solid #87c47f;
  color: #87c47f;

}

.btn-cancel:active {
  border: 1px solid #4b6b46;
  color: #4b6b46;
}

.btn-done {
  color: white;
  background-color: #87c47f;
}

.btn-done:hover {
  background-color: #5d8658;
}

.btn-done:active {
  background: #42603f;

}

.btn-decline {
  color: white;
  background: #f11f76;
}

.btn-decline:hover {
  background: #d51c69;

}

.btn-decline:active {
  background: #9a134b;

}