body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

::-webkit-input-placeholder {
    color: #ADADAD;
}

.wrapper {
    position: relative;
    height: 100vh;
}

@media (max-width: 767px) {
    .wrapper {
        height: auto;
    }

    h1 {
        padding: 100px;
    }
}
