body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

p {
    margin: 33px 34px 31px 20px;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

::-webkit-input-placeholder {
    color: #ADADAD;
}


.wrapper {
    width: 100%;
    height: 100vh;
}

/* Auth */


/* Header */

.header-container {
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    /*max-width: 4000px;*/
    height: 96px;
    border-bottom: 1px solid #C2C2C2;
    align-items: center;
    margin-bottom: 58px;
}

.header-inner {
    align-items: center;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.header-search-avatar {
    display: flex;
}

.avatar {
    margin-right: 20px;
    border-radius: 50%;
}

.name {
    padding-top: 9px;
    margin-right: 34px;
}

.searchbar-container {

}

.input-search {
    width: 100%;
    min-width: 585px;
    height: 48px;
    padding: 4px 4px 4px 26px;
    border: none;
    border-radius: 16px;
    background-color: #F0F0F0;
    font-size: 18px;
    font-weight: 400;
}

.icon-font-awesome-search {
    width: 40px;
    height: 40px;
    line-height: 26px;
    text-align: center;
    margin-left: -40px;
    margin-top: 1px;
    position: relative;
    float: right;
}

.input-search:focus {
    outline: none !important;
}

.btn-header-bell,
.btn-header-exit {
    padding: 0;
    margin-right: 30px;
    background-color: transparent;
    border: none;
}

.btn-header-bell {
    margin-left: 74px;
    padding-top: 9px;
}

.ellipseBell {
    display: block;
    position: relative;
    top: -23px;
    left: 13px;
}

.img-header {
    /*width: 40px;*/
    /*height: 40px;*/
}

/*.ellipseBell {*/
/*    top: 5px;*/
/*    left: 692px;*/

/*}*/

/* Menu */

.menu-container {
}

.menu-inner {
    width: 96px;
    height: 100%;
    min-height: 969px;
    margin-right: 60px;
    float: left;
    background: linear-gradient(#D5EEE2, #7DB59A)

}

.btn-menu {
    /*width: 30px;*/
    display: block;
    padding: 24px 28px 24px 28px;
    position: relative;
}

.btn-menu:focus {
    padding: 24px 28px 24px 23px;
    border-left: 5px solid #ffffff;
}

.img-icon-container {
    padding: 32px 11px 0 12px;
}

.title-menu {
    display: none;
}

/* Title */

.container-title {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 0 5px;
    margin-bottom: 50px;
}

.main-title {
    display: flex;
    size: 36px;
    font-weight: 700;
    align-items: center;

}

.create-claim {
    max-width: 174px;
    height: 48px;
    padding-right: 16px;
    font-size: 18px;
    border: none;
    border-radius: 16px;
    background: #7DB59A;
    color: white;
    display: flex;
    text-align: right;
    align-items: center;
    letter-spacing: 0.2px;
}

.create-claim:hover {
    background-color: #5B9479;
}

.create-claim:active {
    background-color: #4F896C;

}

.create-btn-title {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;
}

/* Table */

.container-table {
    padding-right: 58px;
}

.content-table-body {
    overflow-x: auto;
    /*height: 100%;*/
    /*max-width: 1710px;*/

}

.table-body {
    width: 100%;
    min-height: 528px;

}

.table-head {
    font-size: 18px;
    height: 50px;
    background: #F1F1F1;
    color: #2D3436;
    border-bottom: 1px solid #C2C2C2;
}

.claim-title {
    padding-left: 16px;
}

th:first-child {
    padding-left: 24px;
}

tbody tr {
    height: 48px;
    border-bottom: 1px solid #C2C2C2;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody tr:hover {
    background: #E1F3EA;
    opacity: 1;
}

.table-td {
}

.type-dot {
    padding-right: 16px;
}

.sort-icon-group {
    margin: 6px 16px;
    width: 7px;
    height: 10px;
}



/* status pill */

.status-pill {
    font-size: 14px;
    width: 100px;
    text-align: center;
    padding: 0 5px;
    margin: 0;
    text-transform: uppercase;
    color: white;
    border-radius: 15px;
}

.status-pill-new {
    background: #6C5CE7;
}

.status-pill-done {
    background: #00B894;
}

.status-pill-declined {
    background: #E84393;
}

.status-pill-in-process {
    background: #FDCB6E;
}

/* Burger */


/* Create claims */

.claim-editing {
    width: 589px;
    height: 48px;
    background: #F0F0F0;
    border: none;
    border-radius: 16px;
    padding-left: 16px;
    display: block;
    /*opacity: 0.2;*/
    color: #2D3436;
}

.claim-type {
    margin: 10px 0;
}

.type-select {
    width: 589px;
    height: 48px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 16px;
    padding-left: 16px;
    display: block;
}

.claim-editing {
    outline: none !important;
}

.label-claim {
    font-size: 12px;
    color: #ADADAD;
    display: block;
    margin-top: 30px;
    letter-spacing: 2.5px;
    padding-bottom: 8px;
}

/* Btn incoming claims */


.btn-ic {
    width: 82px;
    height: 48px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    margin: 54px 24px 0 0;
    padding: 8px 9px;
    letter-spacing: 0.25px;
    font-weight: 700;
}

.btn-cancel {
    color: #858585;
    background: transparent;
    border: 1px solid #ADADAD;
}

.btn-cancel:hover {
    border-color: #7DB59A;
    color: #7DB59A;

}

.btn-cancel:active {
    border-color: #4F896C;
    color: #4F896C;
}

.btn-done {
    color: white;
    background: #7DB59A;
}

.btn-done:hover {
    background: #5B9479;
}

.btn-done:active {
    background: #4F896C;

}

.btn-decline {
    color: white;
    background: #E84393;
}

.btn-decline:hover {
    background: #B03671;

}

.btn-decline:active {
    background: #832552;

}

/* Pagination */

.container-btn-pagination {
    position: relative;
    bottom: 0;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.btn-pagination {
    background: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 11px 13px;*/
    margin: 56px 8px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}

/*.page-number {*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    padding: 1px 7px;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    display: flex;*/
/*    !*margin: 56px 8px ;*!*/
/*    border: 1px solid #D9D9D9;*/
/*    border-radius: 2px;*/
/*}*/

.input-table {
    padding-bottom: 10px;
}

/* Auth */

.wrapper-auth {
    display: flex;
    /*display: table;*/
    /*border-collapse: collapse;*/
    width: 100%;
    max-width: 1920px;
    /*height: 969px;*/
}

.container-left-auth {
    /*display: inline-block;*/

    padding: 100px 130px 100px 131px;

    /*display: table-row;*/
    max-width: 960px;
    min-height: 878px;
    width: 100%;
    background: rgba(211, 237, 225, 0.97);
}

.container-right-auth {
    /*width: 100%;*/

}

.img-login {
    min-width: 699px;
    width: 100%;
}

.img-icon-max {
    /*display: block;*/
    width: 100%;
    max-width: 165px;
    /*height: 161px;*/
    display: block;
    margin: 141px 398px 119px 150px;
}

.login-form {
    /*display: block;*/
}

.label-login {
    font-size: 12px;
    color: #ADADAD;
    display: block;
    margin-top: 32px;
    letter-spacing: 2.5px;
    padding-bottom: 8px;
}

.input-login {
    max-width: 466px;
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 400;
    background-color: #F0F0F0;
    border: none;
    border-radius: 16px;
    padding-left: 16px;
    display: block;
}


.input-login:focus {
    outline: none !important;
}


.btn-login {
    width: 100%;
    max-width: 466px;
    height: 52px;
    font-weight: 800;
    margin-top: 35px;
    color: white;
    background: #7DB59A;
    border-radius: 16px;
    border: none;
}

.btn-login:hover {
    background: #5B9479;
}

.btn-login:active {
    background: #4F896C;
}


.icon-font-awesome {
    width: 40px;
    height: 40px;
    line-height: 26px;
    text-align: center;
    margin-left: 422px;
    margin-top: -45px;
    position: absolute;
    float: right;
}


.footer-login {
    /*min-width: 1920px;*/
    width: 100%;
    height: 91px;
    background: #7DB59A;
    position: absolute;
    left: 0;
    top: 878px;
}

.img-footer {
    width: 100%;
    max-width: 59px;
    height: 58px;
    margin: 16px 0 17px 30px;
}

.req-reg {
    font-size: 14px;
    margin: 16px 111px;
}
.label-checkbox {
    font-size: 14px;
    font-weight: 400;
    margin-left: 11px;

}

.input-checkbox {
    width: 18px;
    height: 18px;
    /*margin-top: 27px;*/
}


.container-checkbox {
    margin-top: 27px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.container-input-login {
    padding: 0 247px 141px 247px;
}

.card-container {
    width: 343px;
    height: 240px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-bottom: 24px;
}

.claim-title-media {
    margin: 0;
    background-color: #7DB59A;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    height: 32px;

}

.claim-card {
    list-style-type: none;
}

.card-body-title {
    font-weight: 700;
}

.card-content-first {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px 16px;

}
.card-content {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px;
}




/* Media */

@media (min-width: 767px) {
    .container-claim-card {
        display: none;
    }
    .burger-btn {
        display: none;
    }
    .header-inner {
        justify-content: end;
    }
}
@media (max-width: 767px) {
    .wrapper {
        height: auto;
    }

    .footer-login {
        height: 64px;
    }

    .img-footer {
        display: none;
    }

    .container-left-auth {
        display: none;
    }

    .burger-menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 64px;
        left: 0;
        transform: translateX(-100%);
    }

    .burger-menu.active {
        transform: translateX(0);
    }

    .header {
        height: 64px;
        z-index: 50;
        position: fixed;
        /*display: flex;*/
        /*align-items: center;*/
        background: #7DB59A;
        margin-bottom: 34px;
        border: none;

    }

    .header-inner {
        /*justify-content: space-between;*/
        align-items: center;
        padding-top: 8px;
    }

    .avatar {
        width: 48px;
    }

    .searchbar {
        display: none;
    }

    .name {
        display: none;
    }

    .btn-header-exit {
        display: none;
    }

    .img-header {
        display: none;
    }

    .btn-header-bell {
        background-image: url('image/bellWhite.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;

    }

    .menu-container {
        transform: translateX(-100%);
}
    .menu-container.active {
        transform: translateX(0);

    }

    .menu-inner {
        position: fixed;
        min-width: 256px;
        height: 100vh;
        top: 64px;
        left: 0;
        background: #7DB59A;
        /*display: none;*/
    }


    .btn-menu {
        text-decoration: none;
        display: flex;
    }

    .title-menu {
        padding-top: 7px;
        margin-left: 35px;
        font-weight: 700;
        display: block;
        color: white;
    }

    .img-icon-container {
        display: none;
    }

    .container-title {
        padding: 98px 16px 24px 16px;
        margin-bottom: 33px;
    }

    .main-title {
        font-size: 24px;
    }

    .create-btn-title {
        display: none;
    }

    .create-claim {
        padding-right: 5px;
    }

    .container-table {
        display: none;
        /*padding-top: 128px;*/
    }

    .burger-btn {
        width: 24px;
        display: block;
        height: 24px;
        margin-left: 20px;
        z-index: 51;
        justify-content: start;
        position: relative;
        cursor: pointer;
        right: 0;

    }

    .burger-btn:before {
        content: '';
        position: absolute;
        top: 0;
        width: 24px;
        background-color: #ffffff;
        height: 2px;
    }

    .burger-btn:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 24px;
        background-color: #ffffff;
        height: 2px;
    }

    .burger-btn span {
        position: absolute;
        top: 11px;
        width: 24px;
        background-color: #ffffff;
        height: 2px;
    }

    .btn-header-bell {
        margin-top: 13px;
    }

    .blackout {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
    }

    .container-btn-pagination {
        display: none;
    }

    .ellipseBell {
        display: none;
    }
    .content-table-body {
        display: none;
    }
    thead td {
        display: inline-block;
        width: 350px;
        height: 440px;
        background: #FFFFFF;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 15px;
        padding: 15px;
    }
    .actions {
        width: 84px;
        height: 52px;
        font-size: 18px;
        border-radius: 16px;
        text-decoration: none;
        margin-left: 16px;
        padding: 8px 9px;
        letter-spacing: 0.25px;
        font-weight: 700;
        color: #858585;
        text-align: center;
        border: 1px solid #ADADAD;
    }
    .container-incoming-claim {
        padding: 88px 16px
    }
}
